<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" />
    <httpHandlers>
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=17.1450.0.47, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </httpHandlers>
    <pages>
      <namespaces />
    </pages>
        <machineKey decryptionKey="F51998ED1F5F9E287E27DE4B5A61D663932EB05EA6E8798A" validationKey="45E8A6640B2CDAE86908B82232351526E715E170BFDBBB63547BB0087EC33D315B411B57A0F9B0AFFB40ADC21F60052CFF7994DC8CCE72369F0313C9F65F4D1C" />
        <sessionState mode="SQLServer" sqlConnectionString="Server=usashpmcidb01;User ID=Apps;Password=99552499*;Application Name=CacheTest" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=17.1450.0.47, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </handlers>
        <defaultDocument enabled="true" />
  </system.webServer>
  <appSettings />
</configuration>