/******************************************************************************************************************************************/
@media (min-width: 576px) {
    body {
        background-color: #CCCCCC;
        background: url('../backgrounds/talento.jpg');
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment:fixed;
        -o-background-size: 100% 100%, auto;
        -moz-background-size: 100% 100%, auto;
        -webkit-background-size: 100% 100%, auto;
        background-size: 100% 100%, auto;
        width: 100%;
    }
}

//Dispositivos de mas de 768 pixeles
@media (min-width: 768px) { 
    body {
        background-color: #CCCCCC;
        background: url('../backgrounds/talento.jpg');
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment:fixed;
        -o-background-size: 100% 100%, auto;
        -moz-background-size: 100% 100%, auto;
        -webkit-background-size: 100% 100%, auto;
        background-size: 100% 100%, auto;
        width: 100%;
    }
}

//Dispositivos de mas de 992 pixeles
@media (min-width: 992px) { 
    body {
        background-color: #CCCCCC;
        background: url('../backgrounds/talento.jpg');
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment:fixed;
        -o-background-size: 100% 100%, auto;
        -moz-background-size: 100% 100%, auto;
        -webkit-background-size: 100% 100%, auto;
        background-size: 100% 100%, auto;
        width: 100%;
    }
}
//Dispositivos de mas de 1200 pixeles
@media (min-width: 1200px) { 
    body {
        background-color: #CCCCCC;
        background: url('../backgrounds/talento.jpg');
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment:fixed;
        -o-background-size: 100% 100%, auto;
        -moz-background-size: 100% 100%, auto;
        -webkit-background-size: 100% 100%, auto;
        background-size: 100% 100%, auto;
        width: 100%;
    }
}
body {
    font-family: Segoe UI Light;
    background-color: #e6e6e6;
    color: black;
}
.btn {
    font-weight: bold;
}
/*
a{
    color: #b3f0ff;
    text-decoration: none;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
a:hover{
    text-decoration: none;
    color: #4db8ff;
}*/
.panel {
    background-color: transparent;
    border-color: gray;
    color: white;
    box-shadow: 3px 5px 20px 5px rgba(0, 0, 0, 0.5);;
}
.panel-transparent > .panel-heading{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
.panel-transparent > .panel-body{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
.animated-central {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInCentral {
    0% {
       opacity: 0;
       -webkit-transform: translateY(10px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
}
@keyframes fadeInCentral {
    0% {
       opacity: 0;
       transform: translateY(10px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}
.fadeInCentral {
    -webkit-animation-name: fadeInCentral;
    animation-name: fadeInCentral;
}
.navbar {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-weight: bold;
}
.icon-bar {
    color: white;
}
.navbar-toggle {
    border-color: white;
}
.icon-bar {
    background-color: white;
}
.navbar-collapse>ul>li>a {
    color: black;
    text-decoration: none;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.navbar-collapse>ul>li>a:hover {
    background-color: transparent;
    text-decoration: none;
    color: #ffd9b3;
}
.navbar-collapse>ul>li>a:focus {
    background-color: transparent;
}
.active {
    font-weight: bold;
    background-color: rgba(0,0,0,0.1);
}